@mixin break-point($media){
    @if($media == "mobile"){
        @media (min-width: 371px) and (max-width: 1300px) {
            @content;
        }
    }
    @if($media == "small"){
        @media (min-width: 577px) and (max-width: 1300px) {
            @content;
        }
    }
    @if($media == "medium"){
        @media (min-width: 769px) and (max-width: 1300px) {
            @content;
        }
    }
    @if($media == "large"){
        @media (min-width: 993px) {
            @content;
        }
    }
    @if($media == "x-large"){
        @media (min-width: 1181px) {
            @content;
        }
    }
}

@mixin main-color($opacity: 1,$type:background-color){
    #{$type}: rgba(110, 44, 242, $opacity);
}


#header{
    .container{
        p{
            &.latest{
                width: fit-content;
                font-size: .75rem;
                background-color: #dee2e6;
            }
            &:last-of-type{
                max-width: 800px;
                font-size: 1rem;
            }
        }
        .row{
            @include break-point(mobile){
                width: 80%;
            }
            @include break-point(large){
                width: 50%;
            }
            input, select{
                &:focus{
                    box-shadow: 0 0 0 .25rem rgba(110, 44, 242, 0.5);
                    @include main-color(1, border-color)
                }
            }
            button{
                @include main-color(.2);
                @include main-color(1, color)
            }
        }
    }
}

main{
    .container{
        .card{
            height: 500px;
            &:hover .card-body{
                cursor: pointer;
                filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 1));
            }
            &:hover img{
                transform: scale(1.1);
                filter: grayscale(0%);
            }
            img{
                filter: grayscale(100%) ;
                height: 100%;
                transition: .5s;
            }
            a{
                .card-body{
                    width: 100%;
                    transition: .5s;
                    .card-title{
                        width: fit-content;
                        span{
                            @include main-color(.2);
                            @include main-color(1, color);
                        }
                    }
                    .card-text{
                        width: 95%;
                        p{
                            overflow: hidden;
                            white-space: wrap;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            width: 100%;
                        }
                    }
                    .info{
                        width: fit-content;
                        p{
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            width: 90px;
                        }
                    }

                }
            }
        }
    }
}